extends layouts/base.pug
block variables
    - var title = "ООчень главная страница"

block durashka
    .wrapper
        .js-pug
            h2.js-pug__title Это блок durashka
            script(language="javascript")
                | document.write("<p class='js-pug__string'>Это строка, которую мы вызвали из скрипта в pug-файле.</p>");
                | document.write("<p class='js-pug__string'>Это вторая скриптовая строка из index.pug-файла.</p>");

block content
    .wrapper
        .content-block
            h2.content-block__title Это блок "content"
            - var kakashka = "Это текст из переменной \"kakashka\"."
            - var kakashka2 = "Это переменная Kakashka2";
            p.content-block__line Это наша первая и пока единственная запись на страничке 233.
            p.content-block__line
                | Это наша вторая и уже не единственная запись на страничке. Эту запись мы выводим после символа "|", на следующей строке.
            p.content-block__line.
                Третья строка. Ура. Мы её вывели после точки.
                Продолжается третья строка.
            p.content-block__line В этой строке выводится текст из переменной "kakashka": #{kakashka}
            p.content-block__line= kakashka2
            ul
                each value, index in ["zero", "one", "Два", "Три"]
                    li #{index}: #{value}
            ul
                each index, val in ["один", "два", "три"]
                    li= index + ": " + val
                else
                    li= "Этот текст выведется только, если масси будет пустым."
            p.roba= "Это пример обычного массива: "
            - var n = 0;
            ul
                while n<4
                    li= "Строка №" + n++
            // Эти комментарии останутся
            //- А эти пропадут
            p Вставка JavaScript кода:
            ul
                - for (var x=0; x<3; x++)
                    li item
            p
                = "This code is <escaped>!"

            
            - var user = {description: "foo bar baz"}
            #user
                if user.description
                    span.green Description:
                    span.description= user.description
                else
                    span.green Description:
                    span.description= "There's no description"
            p Миксины:
            mixin article(title1)
                .article(style="border: solid 1px pink; margin: 0 25px")
                    .article-wrapper
                        h1= title1
                        p.gogo Трататат. Текста статьи
                        p.gogo Текст статьи продолжается
            +article("Hello world mixins")
            +article("Другая статья")
block popik
    .wrapper
        .popcorn-block
            h3.popcorn-block__title Блок @popperjs/core
            p.popcorn-block__line В этом блоке мы проверяем работоспособность подключённого модуля @popperjs/core.
            p.popcorn-block__line Если "My tooltip" отображается справа от попкорна, то всё в порядке.
            div(id="popcorn" aria-describedby="tooltip")
            div(id="tooltip" role="tooltip")
                | My tooltip
                div(id="arrow" data-popper-arrow)